.my-name {
    font-size: 5em;
    color: red;
    background-color: black;
    padding: .25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pulse {
    font-size: 2em;
}

.cool {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.show-first-stuff, .show-second-stuff, .show-third-stuff {
    display: none;
}

.index {
    background-color: rgb(200, 200, 200, .6);
}

.show-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 10px 30px;
}