.myName {
    font-size: 5em;
    color: red;
    background-color: black;
    padding: .25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pulse {
    font-size: 2em;
}

.cool {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.showTopStuff {
    display: none;
}

.index {
    background-color: rgb(200, 200, 200, .6);
}